@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.first-section {
    background-color: #1f2937;;
}


.header-link {
    font-size: 18px;
   color:  #e5e7eb;
   padding: 20px;
}

.p-first{
    font-size: 18px;
    color:  #e5e7eb; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {

    position: top;
    display: flex;
    flex-direction: row;

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar-left, .navbar-right {
display: flex;
width: 50%;
justify-content: center;
align-items: center;
}
.logo {
    width: 200px;
    height: 85px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;

}

.content {
    display: flex;
    flex-direction:row;
    margin: 50px;

}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 0;
    
}
.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
}

img {
   margin-bottom: 50px; 
}

.sign-up-first {
    background-color: #3882f6;  
  color: white;
  width: 100px;
  height: 40px;
  border: 1px #3882f6;
  border-radius: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;

}

.tran-div-row {
display: flex;
flex-direction: row;
justify-content: space-between;
max-width: 100%;
margin: 100px;
}

.tran-box {
    border: 3px solid #3882f6;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-second {
    text-align: center;
    font-size: 18px;
}

.third-section {
background-color: #e5e7eb;
height: 500px;
display: flex;
justify-content: center;
flex-direction: column;


}

h3 {
font-size: 36px;
font-style: italic;
font-weight: lighter;
color: #1f2937;   
text-align: center;
}

.p-third {
    font-size: 18px;
    font-weight: bolder;
}

#p-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 550px;
}

.fourth-section {
    height: 300px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.left {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 26px;
    color: white;

}

.p-fourth {
    color: white;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-final-div {
    background-color: #3882f6;  
    color: white;
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 80px;
}